@import url(https://fonts.googleapis.com/css?family=Rokkitt|Slabo+27px);

.container {
	width: 300px;
	border: 1px solid #ddd;
	padding: 10px;
	box-shadow: 4px 4px 5px 0 #e1e1e1;
	font-family: "Slabo 27px", Arial, serif;
}

.header {
	border-right: 2px #767676 solid;
	padding-right: 5px;
	text-transform: uppercase;
	text-align: right;
}

.main-image {
	margin-bottom: 10px;
	/* cursor: pointer; */
}

/* .main-image:hover {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
} */

.bottom-container {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: justify;
}

.main-image,
.bottom_container {
	box-shadow: 2px 2px #d6d6d6;
	border-radius: 3px;
}

.fact {
	font-style: italic;
	padding: 0 2px;
}

.list span {
	font-weight: bold;
}

.list {
	list-style-type: none;
	border-left: 5px solid #2196f3;
	padding: 5px;
	background-color: #dff;
	font-family: "Rokkitt", Arial Narrow, serif;
	font-size: 17px;
}
